# Environment variables
.env
logs

# Virtual environments
.venv/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IDEs
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Project specific
few_shots/