langchain==1.2.10
langchain-gigachat-lc1==0.4.0b4
python-dotenv==1.0.1
psycopg[binary]==3.2.9
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-exporter-otlp==1.30.0
pytest==8.4.2
pytest-bdd==8.1.0
pydantic-settings==2.12.0
omegaconf==2.3.0
streamlit==1.54.0
sqlglot==26.31.1
langchain-postgres==0.0.17
langchain-community==0.4.1
langchain-text-splitters==1.1.1
pypdf==6.7.3
docx2txt==0.9
